doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
    title text-flow demo
    script(src="../../../webcomponentsjs/webcomponents-lite.js")
    link(rel="import", href="../../../polymer/polymer.html")
    link(rel="import", href="../text-flow.html")
    style.
      #container {
        position: absolute;
        left: 80px;
      }
  body
    #container
      text-flow#root
    input#draw-background(type="checkbox")

    script(src="text-flow-demo.js")