link(rel="import", href="../../polymer/polymer.html")

dom-module#text-flow-line
  style.
    :host {
      box-sizing: border-box;

      display: flex;
      align-content: center;
      align-items: center;

      overflow: hidden;
    }

  template
    span(style$="{{_tabStyle(indent)}}")
    content(select='text-flow-piece')